<script src="https://giscus.app/client.js"
        data-repo="fire0594/fire0594.github.io"
        data-repo-id="R_kgDONHl3Ew"
        data-category="Announcements"
        data-category-id="DIC_kwDONHl3E84Cj0GN"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light_high_contrast"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
